{% extends '::base.html.twig' %}

{% block body %}
    <p class="lead">Funzioni Istruttoria</p>
    <ul>
        <li><a href="{{ path('popola_cor_istruttoria') }}">Popola Cor</a></li>
        <li><a href="{{ path('porta_in_atc_istruttoria') }}">Porta in ATC</a></li>
    </ul>
{% endblock %}