{% extends '::base.html.twig' %}

{% block istruttorie_buttons_widget %}
    {% if form.children.pulsante_indietro is defined %}
    <div class="pull-left">
        {{ form_widget(form.children.pulsante_indietro) }}       
    </div>
    {% endif %}
	
    <div class="pull-right" style="margin-left: 10px; ">
		{% if form.children.pulsante_submit is defined %}
			{{ form_widget(form.children.pulsante_submit) }}
		{% endif %}
    </div>
	{% if is_granted('ROLE_ISTRUTTORE_SUPERVISORE') %}
		{% if form.children.pulsante_valida is defined %}	
		<div class="pull-right">
			{{ form_widget(form.children.pulsante_valida) }}
		</div>
		{% endif %}
		{% if form.children.pulsante_invalida is defined %}	
		<div class="pull-right">
			{{ form_widget(form.children.pulsante_invalida, {'disabled': false}) }}
		</div>
		{% endif %}
	{% endif %}
{% endblock istruttorie_buttons_widget %}
