<!DOCTYPE html>
<html lang="it">
<head>
</head>
<body>
{% block content %}
    Id richiesta di contributo: {{ id_richiesta }}
    <br/>
    Id procedura operativa: {{ id_procedura }}
    <br/>
    Timestamp: {{ timestamp }}
{% endblock %}
</body>
</html>