{% extends '::base.html.twig' %}
{% block body %}
	<div class="row">
		<div class="col-md-12 page-404">
			<div class="details">
				<p> Ci dispiace ma non ha diritto di accedere alla risorsa che ha richiesto!
					<br>
					La invitiamo
					a tornare alla <a href="{{ path("home") }}">Pagina principale </a></p>
			</div>
		</div>
	</div>
{% endblock %}