{% extends '::base.html.twig' %}
{% block body %}
	<div class="row">
		<div class="col-md-12 page-404">
			<div class="details">
				<p> Ci dispiace ma c'è stato un errore nell'applicazione.
					<br>
					La invitiamo ad aprire una <a href="#">Segnalazione</a> o a tornare alla <a href="{{ path("home") }}">Pagina principale </a></p>
			</div>
		</div>
	</div>
{% endblock %}