{% extends '::base.html.twig' %}

{% block body %}
	
	{% include 'AuditBundle:Audit:menu.html.twig' %}
	
	<br/>
    <div class="table-toolbar">
        <div>
			{% if isAccessibile('crea_area_tematica') %}
                <a class="btn btn-primary" href="{{ path('crea_area_tematica') }}">
                    <span class="fa fa-plus"></span> Aggiungi area tematica
                </a>
			{% endif %}
        </div>
    </div>
    <table class="table table-striped table-hover table-bordered" id="aree-tematiche-elenco">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th>Denominazione</th>
            </tr>
        </thead>
        <tbody>
			{% for areaTematica in areeTematiche %}
				<tr>
                    <td class="table-id">
	                    {{ areaTematica.id }}
                    </td>
                    <td>{{ areaTematica.denominazione }}</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>

{% endblock %}

