{% extends '::base.html.twig' %}

{% block intestazione %}
    {{ parent() }}
    {{ mostra_soggetto_rappresentato() }}
{% endblock %}

{% block body %}
    <p class="lead">Inserisci dimensione impresa</p>
    {{ form(form) }}

{% endblock %}