{% if is_granted('ROLE_GESTIONE_ASSISTENZA_TECNICA') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_GESTIONE_ASSISTENZA_TECNICA_READONLY') %}
<li class="">
    <a href="javascript:;">
        <span class="fa fa-users"></span>
        <span class="title">Assistenza tecnica</span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">		
		<li id="elencoRichiesteAt">
			<a href="{{ path("elenco_richieste_at") }}">Elenco operazioni</a>
		</li>
		{% if is_granted('ROLE_GESTIONE_ASSISTENZA_TECNICA') or is_granted('ROLE_SUPER_ADMIN') %}
		<li id="creaProgettoAssistenza">
			<a href="{{ path("seleziona_procedura_at") }}">Crea operazione</a>
		</li>
		{% endif %}
    </ul>
</li>
 {% endif %}