<li class="">
    <a href="javascript:;">
        <span class="fa fa-file"></span>
        <span class="title">Incarichi</span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
        <li id="elencoIncarichi">
            <a href="{{ path("elenco_incarichi") }}">Elenco</a>
        </li>
    </ul>
</li>