<li class="dropdown" id="header_notification_bar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
       data-close-others="true">
        <span class="fa fa-bell"></span>
        <span class="badge badge-danger">6</span>
    </a>
    <ul class="dropdown-menu extended notification">
        <li>
            <p>Hai 14 nuove notifiche</p>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                <li>
                    <a href="#">
                        <span class="label label-sm label-icon label-success"><span class="fa fa-plus"></span></span>
                        New user registered.
                        <span class="time">Just now</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-sm label-icon label-danger"><span class="fa fa-bolt"></span></span>
                        Server #12 overloaded.
                        <span class="time">15 mins</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-sm label-icon label-warning"><span class="fa fa-bell-o"></span></span>
                        Server #2 not responding.
                        <span class="time">22 mins</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-sm label-icon label-info"><span class="fa fa-bullhorn"></span></span>
                        Application error.
                        <span class="time">40 mins</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-sm label-icon label-danger"><span class="fa fa-bolt"></span></span>
                        Database overloaded 68%.
                        <span class="time">2 hrs</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-sm label-icon label-danger"><span class="fa fa-bolt"></span></span>
                        2 user IP blocked.
                        <span class="time">5 hrs</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-sm label-icon label-warning"><span class="fa fa-bell-o"></span></span>
                        Storage Server #4 not responding.
                        <span class="time">45 mins</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-sm label-icon label-info"><span class="fa fa-bullhorn"></span></span>
                        System Error.
                        <span class="time">55 mins</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-sm label-icon label-danger"><span class="fa fa-bolt"></span></span>
                        Database overloaded 68%.
                        <span class="time">2 hrs</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="external">
            <a href="#">Mostra tutte le notifiche <i class="m-icon-swapright"></span></a>
        </li>
    </ul>
</li>
