{% extends "base.html.twig" %}

{% block body %}

    <div testo>

    {% include 'testo_privacy.html.twig' %}

    </div>



    <a class="btn btn-default pull-left" href="{{ path('home') }}" ><span class="fa fa-arrow-left"></span> Indietro</a>
{% endblock body %}

