{% extends '::base.html.twig' %}
{% block body %}
	<h4>Carica documenti</h4>
	{{ form_start(form_upload_view) }}
	{{ form_end(form_upload_view) }}
	
	<h4>Documenti caricati</h4>
	{% if documenti_caricati|length > 0%}
		<table class="table table-striped table-hover table-bordered" id="richieste-elenco">
			<tbody>
				{% for documento in documenti_caricati %}
					<tr>
						<td>{{ mostra_file(documento.documentoFile, path('elimina_documento_registro', {'id_documento_registro':documento.id, 'codice_asse' : asse_codice } ))}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		Nessun documento caricato
	{% endif%} 	
	<br/><br/>
	<a class="btn btn-default btn-form-back pull-left" href="{{path('richieste_elenco_assi', {'codice_asse' : asse_codice })}}">Indietro</a>
{% endblock %} 