{% extends '::base.html.twig' %}
{% block body %}
	
	<h4>Comuni importati da ISTAT</h4>
	<table class="table table-striped table-hover table-bordered" id="notizie-elenco">
    <thead>
        <th>Denominazione</th>
        <th>Codice ISTAT</th>
        <th>Codice catastale</th>
    </thead>
		{% for comune in comuni %}
			<tr>
				<td>
					{{ comune.denominazione }}
				</td>
                <td>
					{{ comune.codicecompleto }}
				</td>
                <td>
					{{ comune.codiceCatastale }}
				</td>
			</tr>
		{% endfor %}
	</table>
	
{% endblock %}