{% extends '::base.html.twig' %}

{% block body %}
    <p class="lead">Funzioni Liquidazione</p>
    <ul>
        <li><a href="{{ path('crea_quietanza_elenco_procedure') }}">Crea quietanza</a></li>
        <li><a href="{{ path('crea_partita_elenco_procedure') }}">Crea partita</a></li>
    </ul>
{% endblock %}