{% extends '::base.html.twig' %}

{% block body %}
   
    <h2 style="text-align: center;">Sei sicuro di voler procedere alla generazione del file per IGRUE ?</h2>
    
    {{ form(form) }}

{% endblock %}