{% trans_default_domain 'FOSUserBundle' %}

<br>
<br>
				
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal clearfix">
		
	{{ form_widget(form) }}
	
	<input type="submit" class="btn btn-primary btn-page-action pull-right"
					value="{{ 'profile.edit.submit'|trans }}" />
</form>
