{% extends "FOSUserBundle::layout.html.twig" %}

{% block intestazioneTitolo %}
    <h3 class="page-title">
        Modifica Password <small>Modifica la tua password per accedere al sistema</small>
        <br>
    </h3>
{% endblock %}

{% block fos_user_content %}

{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

{% endblock fos_user_content %}
