{% if not esito.esito %}
<div class="alert alert-danger">
    <ul class="list-unstyled">
		{% if messaggiSezione is defined %}
			{% for messaggio in esito.messaggiSezione %}
				<li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ messaggio }}</li>
			{% endfor %}
		{% endif %}

		{% for messaggio in esito.messaggi %}
			<li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ messaggio }}</li>
		{% endfor %}		
    </ul>     
</div>
{% endif %}
{% set ctrl = false %}
{% for messaggio in esito.messaggi %}
    {% if 'Attenzione' in messaggio %}
       {% set ctrl = true %}
    {% endif %}
{% endfor %}	

{% if esito.esito and ctrl %}
<div class="alert alert-warning">
    <ul class="list-unstyled">
		{% for messaggio in esito.messaggi %}
			<li><span class="glyphicon glyphicon-warning-sign"></span> {{ messaggio }}</li>
		{% endfor %}		
    </ul>     
</div>
{% endif %}
