{% extends '::base_ente.html.twig' %}


{% block body %}
	{% include 'IstruttorieBundle:Istruttoria:menu.html.twig' with {'istruttoria' : attuazione_controllo.richiesta.istruttoria }%}	
	<h4>Elenco proroghe inviate</h4>
	{% if proroghe | length > 0 %}	
	    <table class="table table-striped table-hover table-bordered" id="proroghe-elenco">
	        <thead>
	            <tr>
					<th style="width:20%;">Data invio proroga</th>
	                <th style="width:20%;">Stato</th>
					<th style="width:20%;">Tipo proroga</th>
					<th style="width:40%;">Motivazioni</th>
					<th style="width:20%;">Azioni</th>
	            </tr>
	        </thead>
	        <tbody>
				{% for proroga in proroghe %}
					<tr>
						<td>{{ proroga.dataInvio | date('d/m/Y') }}</td>
						<td>{{ proroga.gestita == 0 ? '<span style="color: red">In attesa di istruttoria</span>': (proroga.approvata == 1 ? '<span style="color: green">Approvata</span>' : '<span style="color: blue">Non approvata</span>' )|raw }}</td>
						{% if proroga.tipoproroga is null  %}
							<td>-</td>
						{% elseif proroga.tipoproroga == 'PROROGA_AVVIO' %}
							<td>Proroga avvio progetto</td>
						{% elseif proroga.tipoproroga == 'PROROGA_FINE' %}
							<td>Proroga termine progetto</td>
						{% else %}
							<td>-</td>
						{% endif %}
						<td>{{ proroga.motivazioni|slice(0, 50) }}....</td>
						<td>
							{% set vociMenu = voci_menu_proroga(proroga.id) %}
							{% if vociMenu | length > 0 %}
							<div class="dropdown">
								<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									Azioni
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="{{path('istruttoria_proroga', {'id_proroga':proroga.id})}}" >Gestione</a></li>
								</ul>
							</div>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
	        </tbody>
	    </table>
	{% endif %}
{% endblock %}
