{% extends '::base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="fa fa-reorder"></span>Modificare i dati
                    </div>
                </div>
                <div class="portlet-body">
					<div class="form-body">
						{{ form_start(form) }}
						<div>
							<div>
								{{ form_row(form.tipoVincolo) }}
							</div>
							{{ form_end(form) }}
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
						
	{% endblock %}
	

