<div class="soggetto-rappresentato">
    <div class="floating-label">
        Rappresenti <span class="fa fa-arrow-right"></span> <span class="semibold">{{ soggetto.denominazione }} (CF: {{ soggetto.codiceFiscale }})</span>
    </div>
</div>