{% extends '::base.html.twig' %}



{% block body %}

    <p class="lead">Indicare il beneficiario </p>

    <h4>Beneficiario</h4>

    {{ form(form) }}



{% endblock %}


{% block  jquery_page_document_ready %}


{% endblock %}
