{% extends '::base.html.twig' %}

{% block body %}

	<h4>Aggiungi campione</h4>

	{{ form(form) }}

	<h4>Elenco documenti caricati</h4>
	{% if documenti is not empty %}
		<div class="form-body">		
			{% for documento in documenti %}
				{% if readonly == true %}
					{{ mostra_file(documento.documentoFile, null )}}
				{% else %}
					{{ mostra_file(documento.documentoFile, null )}}
				{% endif %}
			{% endfor %}
		</div>
	{% else %}
		<h6>Nessun documento caricato</h6>
	{% endif %}

{% endblock %}